

:root {
  --nav-h: 80px;
  --anchor-gap: 16px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--nav-h) + var(--anchor-gap));
  height: 100%;
}



:root {
  --nav-h: 60px;
}


body {
height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
