spring:
  application:
    name: perfume-generator-backend

  datasource:
    url: jdbc:h2:mem:perfumedb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

      
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 5MB

# ⚠️ EN DEHORS de spring
app:
  upload:
    oils-dir: ./uploads/oils
