<div
  class="oil-card"
  [class.selected]="selected"
  role="button"
  tabindex="0"
  [attr.aria-pressed]="selected"
  (click)="onToggle()"
>
  <div class="inner">
    <!-- Image -->
    <div class="hero">
      <img
        [src]="imageSrc"
        [alt]="oil.name"
        loading="lazy"
      />

    </div>

    <h3 class="name">{{ oil.name }}</h3>

    <div class="badge">{{ noteLabel }}</div>

    <div class="meta">
      <div class="meta-line">
        <mat-icon class="icon" fontIcon="bolt"></mat-icon>
        <span>{{ powerLabel }}</span>
      </div>

      <div class="meta-line">
        <mat-icon class="icon" fontIcon="science"></mat-icon>
        <span>{{ oil.maxPercent }} % max</span>
      </div>
    </div>

    <button
      class="cta"
      type="button"
      (click)="$event.stopPropagation(); onToggle()"
    >
      <mat-icon *ngIf="selected" class="cta-ico" fontIcon="check"></mat-icon>
      {{ selected ? 'sélectionnée' : 'selectionner' }}
    </button>
  </div>
</div>
